html,
body {
  padding: 0;
  margin: 0;
  font-family:Roboto;
  color:#080808
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-control > label{
  font-size: 12px;
  font-weight: 500;
}
.form-control > input{
  margin-top:5px;
  width:100%;
  padding:7px;
  border-radius: 3px;
  border:solid 1px #e6e6e6;
  background-color: #e6e6e670;
  margin-bottom: 20px;
}
input:focus {
  border:1px solid #03a9f4 !important;
  outline: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
